/*<!-- ---------------- TOP 10 ---------------------- -->*/
a {
	color: black;
}

.top_10{
  padding: .5rem;
  color: white;
  background-color: #EDEAEA;
  box-shadow: 0 0 .2rem;
  display: flex;
  width: 100%;
}

.top_10-items-list{
 display: inline-flex;
}

.perfil-img{
	border-radius: 50%;
	height: 12rem;
	width: 12rem;
}

.top_10-text{
	color: #490000;
	margin-top: 1rem;
	margin-left: 2rem;
}

.top_10-title{
	font-size: 2rem;
}

.top_10-nome{
	margin-top: 6rem;
	font-size: 1.5rem;
}

.top_10-nome, .top_10-profissao{
	margin-left: 3rem;
}



/*<!-- ---------------- Filtro ---------------------- -->*/

.filtro{

  padding: .5rem;
  color: white;
  background-color: #9F96AA;
  width: 100%;
  display: flex;
}


.txt-items{
	color: black;
 	margin-right: 3.6rem;
 	margin-top: .4rem;
 	font-size: 1.1rem;
 	margin-bottom: .4rem;
}

.filtro-item-list{
	margin-right: -.8rem;
}

.txt-items:hover{
	font-size: 1.3rem;
}

.linha_1{
	display: flex;
}

.pintor-text{
	margin-left: 2.9rem;
}
.dança-text{
	margin-left: 2.9rem;
}

.linha_2{
	display: flex;
}


/*<!-- ---------------- Trabalho ---------------------- -->*/

.trabalho{
  padding: .5rem;
  color: white;
  background-color: #EDEAEA;
  box-shadow: 0 0 .2rem;
  display: flex;
  color:black;
  margin-bottom: 5rem; 
  width: 100%;
}

.trabalho-image{
	height: 10.1rem;
	width: 10.8rem;
	padding: 0.5rem;
}