html {
    background-color: #ffffff;
}

body {
    font-family: sans-serif;
    background-color: #EDEAEA;
}

iframe {
    background-color: #ffffff;
}


.body{

}



.header-conteiner {


}

.titulo-prov{
	text-align: center;	
}

.profile-img {
	border-radius: 50%;
	background-color: #EDEAEA;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
  	padding-bottom: 20px;
  	padding-top: 20px;
}

.profileinfo-conteiner {
	display: flex;
	justify-content: flex-start;
}

.profileinfo-conteiner2 {
	display: flex;
	justify-content: flex-start;
}

.artista-nome {
	font-size: 30px;
	font-family: Antic;
}

.artista-tipo {
	font-size: 30px;
	font-family: Antic;
}

.seta-detalhe {
	background-color: #EDEAEA;
	height: 8%;
 	width: 8%;
}

.msg-balao {
	padding-left: 200px;
	background-color: #EDEAEA;
	height: 15%;
 	width: 15%;
}

.imgscroll-conteiner {
	flex-wrap: wrap;
	justify-content: center;
	padding-left: 25px;
}

.trabalhos {
	padding-bottom: 40px;
	height: 160px; 
	width: 160px;
}


